.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* duas colunas iguais */
  gap: 30px; /* espaço entre as imagens */
  padding: 20px;
}


.imagem {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 0 8px rgba(0, 123, 255, 0.7);
  text-align: center;
  padding: 15px;
  transition: box-shadow 0.3s ease;
}

.imagem:hover {
  box-shadow: 4px 0 15px rgba(0, 123, 255, 1);
}

.imagem img {
  width: 100%;
  max-width: 260px; /* aumentei aqui */
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
}

.imagem p {
  padding: 10px 0 0;
  font-weight: bold;
  color: #333;
  font-size: 1em;
}
